# Gradle files
.gradle/
.gradle-user/
build/
**/build/

# Local configuration file (SDK path, etc.)
local.properties

# Built application files and classes
*.apk
*.aar
*.aab
*.dex
*.class

# Android Studio / IntelliJ IDEA
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml

# Native build / captures / logs
captures/
.externalNativeBuild/
.cxx/
*.log
